* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
}

template {
    width: 100%;
    height: 100vh;
    position: relative;
}

#homescreen_panel {
    z-index: 8;
}

#secondary_panel {
    z-index: 9;
}

#homescreen_panel,
#secondary_panel {
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25vh;
    margin-bottom: 2vh;
    width: 50vw;
    height: 50vh;
    border: 10px solid #fff;
    background-color: #000;
    border-radius: 10px;
}

#play {
    width: 50%;
    margin-bottom: 1.625vh;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 33.875vh;
}

#home {
    width: 20%;
    margin-bottom: 1.625vh;
    margin-right: auto;
    margin-left: 2.5%;
    margin-top: 33.875vh;
}

#info {
    width: 20%;
    margin-left: 77.5%;
    margin-bottom: 1.625vh;
    margin-top: 33.875vh;
}

#stats {
    width: 20%;
    margin-left: 77.5%;
    margin-top: 1.625vh;
    margin-bottom: 33.875vh;
}

#home:hover,
#info:hover,
#play:hover,
#stats:hover {
    background-color: #000;
    color: #fff;
    border: 6px solid #fff;
}

#play,
#home,
#info,
#stats {
    position: absolute;
    height: 14.5vh;
    z-index: 9;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    font-family: monospace;
    font-size: 10vh;
    transition: 0.3s;
    z-index: 1999;
}

#ball_movement {
    position: absolute;
    float: center;
    width: auto;
    height: auto;
    margin-top: calc(50vh - 89.5px);
    margin-bottom: calc(50vh - 89.5px);
    margin-left: calc(50% - 25px);
    margin-right: calc(50% - 25px);
    z-index: 1;    
}

#paddle_movement_1,
#paddle_movement_2 {
    position: absolute;
    width: auto;
    height: auto;
    margin-top: calc(50vh - 112.5px);
    margin-bottom: calc(50vh - 112.5px);
    z-index: 1;
}

#paddle_movement_1 {
    margin-right: 95%;
    margin-left: 5%;
}

#paddle_movement_2 {
    margin-right: 5%;
    margin-left: 95%;
}
