body {
    positon: absolute;
}

#homescreen_panel {
    z-index: 8;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25vh;
    margin-bottom: 2vh;
    width: 50vw;
    height: 50vh;
    border: 10px solid #fff;
    background-color: #000;
    border-radius: 10px;
}

#secondary_panel {
    z-index: 9;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25vh;
    margin-bottom: 2vh;
    width: 50vw;
    height: 50vh;
    border: 10px solid #fff;
    background-color: #000;
    border-radius: 10px;
}

#play {
    width: 50%;
    margin-bottom: 1.625vh;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 33.875vh;
    position: absolute;
    height: 14.5vh;
    z-index: 9;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    font-family: monospace;
    font-size: 10vh;
    transition: 0.3s;
    z-index: 1999;
}

#home {
    width: 20%;
    margin-bottom: 1.625vh;
    margin-right: auto;
    margin-left: 2.5%;
    margin-top: 33.875vh;
    position: absolute;
    height: 14.5vh;
    z-index: 9;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    font-family: monospace;
    font-size: 10vh;
    transition: 0.3s;
    z-index: 1999;
}

#home:hover,
#info:hover,
#play:hover,
#stats:hover {
    background-color: #000;
    color: #fff;
    border: 6px solid #fff;
}

#info {
    width: 20%;
    margin-left: 77.5%;
    margin-bottom: 1.625vh;
    margin-top: 33.875vh;
    position: absolute;
    height: 14.5vh;
    z-index: 9;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    font-family: monospace;
    font-size: 10vh;
    transition: 0.3s;
    z-index: 1999;
}

#stats {
    width: 20%;
    margin-left: 77.5%;
    margin-top: 1.625vh;
    margin-bottom: 33.875vh;
    position: absolute;
    height: 14.5vh;
    z-index: 9;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    font-family: monospace;
    font-size: 10vh;
    transition: 0.3s;
    z-index: 1999;
}

#gameSpaceLeft,
#gameSpaceRight {
    position: absolute;
    z-index: -1;
    width: 50%;
    background-color: #000000;
    box-sizing: border-box;
    
}

#gameSpaceRight {
    border-left: 5px dashed #000000;
    float: right;
}

#gameSpaceLeft {
    border-right: 5px dashed #000000;
    float: left;
}

#ball_movement {
    position: absolute;
    width: auto;
    margin-right: 95%;
    margin-left: 5%;
    margin-top: 50vh;
    margin-bottom: 50vh;
    z-index: 1;
    box-sizing: border-box;
    
}

#paddle_movement_1,
#paddle_movement_2 {
    position: relative;
    width: auto;
    margin-top: 50vh;
    margin-bottom: 50vh;
    z-index: 1;
    box-sizing: border-box;
}

#paddle_movement_1 {
    margin-right: 90%;
    margin-left: 10%;
}

#paddle_movement_2 {
    margin-left: 90%;
    margin-right: 10%;
}
